# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Virtual Environment
# ==========================
.venv/

# ==========================
# PyCharm
# ==========================
.idea/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# SQLite Database
# ==========================
*.db

credentials.json
token.json

jobs_raw.json