# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Virtual Environment
# ==========================
.venv/

# ==========================
# PyCharm
# ==========================
.idea/
.pytest_cache/
__pycache_

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# SQLite Database
# ==========================
*.db

credentials.json
token.json

jobs_raw.json

jobs_matched.json
latest_email.html
jobs_analyzed.json
jobs_review.json
candidate_profile.json
jobs_recommended.json


